@font-face {
  font-family: 'Anders';
  src: url(/vendor/Anders.ttf);
}

@font-face {
  font-family: 'TESLA';
  src: url(/vendor/TESLA.ttf);
}

.index {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .index-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .index-logo {
    font-family: Anders;
    font-weight: bold;
    color: $main-color;
    font-size: 60px;
    line-height: 60px;
    margin: 20px;
  }

  .index-login {
    display: table;
    margin: 0 20px;

    > * {
      display: table-cell;
    }

    .index-login__item {
    }

    .index-login__item--input {
      width: 200px;
      padding-right: 5px;

      > input {
        width: 100%;
        border-color: $font-color_info;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    .index-login__item--submit {
      vertical-align: bottom;

      > input {
        padding: 0 5px;
        background-color: $main-color;
        color: white;
        font-weight: bold;
        border: double 4px white;
        box-sizing: border-box;
        height: 63px;
        margin-top: -1px;
      }
    }
  }
}
