.menu {
  position: relative;
  width: 180px;
  height: 100%;
  min-width: 180px;
  max-width: 180px;

  .menu-fixed {
    position: fixed;
    width: 180px;
    height: 100%;
    box-shadow: $font-color_info 1px 1px 1px;
  }

  .menu-handle {
    display: block;
    position: absolute;
    bottom: 10px;
    right: -12px;
    width: 24px;
    height: 30px;
    background-color: white;
    border: solid 1px $font-color_info;
    border-radius: 3px;
    box-shadow: $font-color_info 1px 1px 1px;
  }

  .menu__list {
    .menu-row {
      padding: 0 $margin-size;
    }
    .menu-row__user {
      position: relative;
      padding-top: $margin-size;
      padding-bottom: 40px;
    }
    .menu-row__link {
      padding-top: 40px;
    }
  }

  .menu__user-name {
    @include line-ellipsis;
    color: white;
  }
  .menu__user-image {
    display: block;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    text-align: center;

    img {
      border-radius: 100%;
    }
  }

  .menu-link__list {
    .menu-link__row {
    }
    .menu-link__item {
      display: block;
      padding: 5px 10px;
    }
    .menu-link__item--link {
      @include a-hover;
    }
    .menu-link__item--btn {
      background-color: $accent-color;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
