// フォントサイズ
$font-size-base: 15px;
$font-size-l: 1.2rem;
$font-size-m: 1rem;
$font-size-s: .8rem;

// 行の高さ
$line-height-base: 1.5rem;

// 色
// -- 基本色
$background-color: rgb(255, 255, 255);
$main-color: rgb(253, 105, 133);
$sub-color: rgb(253, 105, 133);
$accent-color: rgb(239, 27, 73);

// -- 要素別
$font-color: rgb(98, 98, 98);
$font-color_info: rgb(131, 131, 131);
$border-color: rgb(98, 98, 98);

// 余白
$margin-size: 10px;


// z-index - IAB Z-index Guidelines
// < 0: 背景要素
// ______0 - ___4999: 主なコンテンツ、標準的な広告
// ___5000 - 1999999: 拡大する広告 (Expanding Advertising)
// 2000000 - 2999999: フローティング広告 (Floating Advertising)
// 3000000 - 3999999: チャットや告知などのポップアップ (Pop-up Elements)
// 4000000 - 4999999: Non-anchored Floating Elements, Survey recruitment panels(?)
// 5000000 - 5999999: ドロップダウンUI、サイト内ナビゲーションUI、固定ヘッダや固定フッタなど (Expanding Site Navigation Elements)
// 6000000+: 画面全体を覆う要素 (Full-page Overlays)
