<section class="menu">
  <ul class="menu__list">
    <li class="menu-row menu-row__user" style="background: url(<%= lorem.image('300x400', :random_color => true) %>);">
      <p class="menu__user-name"><%= lorem.name %></p>
      <span class="menu__user-image"><img src="<%= lorem.image('50x50', :text => 'Face') %>" /></span>
    </li>
    <li class="menu-row menu-row__link">
      <ul class="menu-link__list">
        <li class="menu-link__row menu-link__row--btn"><a href="">作成</a></li>
        <li class="menu-link__row"><a href="">原稿</a></li>
        <li class="menu-link__row"><a href="">下書き</a></li>
        <li class="menu-link__row"><a href="">校正</a></li>
        <li class="menu-link__row"><a href="">差し戻し</a></li>
        <li class="menu-link__row"><a href="">納品済み</a></li>
      </ul>
    </li>
  </ul>
</section>
