<section class="menu">
  <div class="menu-fixed">
    <ul class="menu__list">
      <li class="menu-row menu-row__user">
        <span class="menu__bg-image" style="background-image: url(<%= image_path "summer.jpg" %>);"></span>
        <p class="menu__user-name"><%= lorem.name %></p>
        <span class="menu__user-image"><img src="<%= lorem.image('50x50', :text => 'Face') %>" /></span>
      </li>
      <li class="menu-row menu-row__link">
        <ul class="menu-link__list">
          <li class="menu-link__row"><a class="menu-link__item menu-link__item--btn" href="/user/article.html">作成</a></li>
          <li class="menu-link__row"><a class="menu-link__item menu-link__item--link active" href="/user/index.html">原稿</a></li>
          <li class="menu-link__row"><a class="menu-link__item menu-link__item--link" href="/user/index.html">下書き</a></li>
          <li class="menu-link__row"><a class="menu-link__item menu-link__item--link" href="/user/index.html">校正</a></li>
          <li class="menu-link__row"><a class="menu-link__item menu-link__item--link" href="/user/index.html">差し戻し</a></li>
          <li class="menu-link__row"><a class="menu-link__item menu-link__item--link" href="/user/index.html">納品済み</a></li>
        </ul>
      </li>
    </ul>
    <span class="menu-handle"></span>
  </div>
</section>
