<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title>MAKE UP</title>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="index">
    <section class="index-main">
      <h1 class="index-logo">MAKE UP</h1>
      <form class="index-login" action="/user/index.html" method="POST">
        <div class="index-login__item index-login__item--input">
          <input type="text" placeholder="Email">
          <input type="password" placeholder="Password">
        </div>
        <div class="index-login__item index-login__item--submit">
          <input type="submit" value="ログイン">
        </div>
      </form>
    </section>
  </body>
</html>
